# Serveur
PORT=5000
NODE_ENV=development

# Base de données MongoDB
MONGODB_URI=mongodb+srv://technologieatl22_db_user:<db_password>@gestionmomo.0ahikzp.mongodb.net/?appName=gestionMoMo

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=your_refresh_secret_key
JWT_REFRESH_EXPIRES_IN=30d

# MTN MoMo API
MOMO_BASE_URL=https://sandbox.momodeveloper.mtn.com
MOMO_COLLECTION_PRIMARY_KEY=your_collection_primary_key
MOMO_DISBURSEMENT_PRIMARY_KEY=your_disbursement_primary_key
MOMO_REMITTANCE_PRIMARY_KEY=your_remittance_primary_key
MOMO_ENVIRONMENT=sandbox
MOMO_CALLBACK_URL=https://your-domain.com/api/momo/callback

# Client autorisé (CORS)
CLIENT_URL=http://localhost:3000
MOBILE_URL=exp://localhost:8081

# Logs
LOG_LEVEL=debug
